html {
    font-size: 100%;
    /* background: #fafafa; */
    /* background: linear-gradient(#000, #fafafa); */
    background: #fafafa;
    --page-spacing: 2rem;
    filter: url({
        "name": "old-grainy",
        "description": "",
        "value": "url('#grain') grayscale(0.6) sepia(0.5) brightness(1.5)",
        "values": [
            {
                "url": "url('#grain')",
                "grayscale": 0.6,
                "sepia": 0.5,
                "brightness": 1.5
            }
        ]
    }
    );
}
body {
    font-family:  ui-monospace;
    
}

article {
    margin: 2rem;
}


img {
    display: block;
   max-width: 75ch;
   margin-left: calc(50% - 30ch);
   margin-top: 1.6rem;
   margin-bottom: 1.6rem;
}
/* img.back {
    display: outside ;
    max-width: 20%;
    position: absolute;
    top: 0;
    left: 0;
} */

a {
    color: #ab6008;
    text-decoration: none;
    /* border-bottom: 1px solid #ab6008; */
}

h1 {
    font-size: 150%;
}

p {
    font-size: 1rem;
    /* max-width: 60ch; */
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin: 1.6rem auto;
    font-weight: normal;
    color: #333;
    font-variant-ligatures: contextual; 
}


@media only screen and (min-width: 768px) {
    p {
        font-size: 125%;
        max-width: 60ch;
        line-height: 1.6;
        letter-spacing: 0.03em;
        margin: .8em auto;
        color: #555;
        font-variant-ligatures: contextual; 
        text-rendering: optimizeLegibility;

    }
}
p:first-of-type {
    margin-top: 1.6rem;
}

.opening {
    text-transform: uppercase;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    /* font-family: fantasy; */

    font-size: 400%;
    line-height: 1.1;
    /* font-weight: 500; */
    font-weight: bold;
    margin-bottom: .6em;
    background-image: url('../images/02.webp') ;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* opacity: 60%; */
    margin-top: 100px;
    font-weight: bold;

    font-weight: 800;
    -webkit-font-smoothing: antialiased; 
    display: block;
    text-align: center;
    max-width: 60ch;
}

p:first-of-type {
    font-size: 250%;
    margin-top: 5rem;
    line-height: 1.5;
    max-width: 60ch;
    font-family: sans-serif;
    margin-bottom: 1.6rem;

} 